@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  background-color: black;
}

.center-page {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  background-color: red;
  margin: 0px 50px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 40px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

header {
  width: 100%;
  height: auto;
  padding: 0px 230px;
}

.grid-container {
  display: grid;
  margin-top: 50px;
  /* grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 200px 200px 200px 200px 200px; */

  grid-template-columns: repeat(5, 1fr 1fr);
  grid-template-rows: 100px 100px 100px;
}

.parfum {
  grid-row: 1;
  grid-column: 1;
}

.store {
  grid-row: 1;
  grid-column: 2;
  padding: 0px 161px;
}

.h1 {
  grid-row: 4;
  grid-column: 1;
  text-align: center;
}

.text1 {
  grid-row: 5;
  grid-column: 1;
  text-align: center;
  padding: 50px;
}

.h2 {
  grid-row: 4;
  grid-column: 2;
  text-align: center;
}

.text2 {
  grid-row: 5;
  grid-column: 2;
  text-align: center;
  padding: 50px;
}

/* PAGINA 2 */


.ralph {
  grid-row: 1;
  grid-column: 1;
}

.h3 {
  grid-row: 1;
  grid-column: 3 / span 4;
  
}

.text3 {
  grid-row: 1;
  grid-column: 3 / span 7;
  margin-top: 50px;
}

.h4 {
  grid-row: 2;
  grid-column: 3 / span 7;
  margin-top: 50px; 
}

.text4 {
  grid-row: 3;
  grid-column: 3 / span 6;
}

.h5 {
  grid-row: 7;
  grid-column: 3 / span 6;
  margin-top: 20px;
  
}

.text5 {
  grid-row: 7;
  grid-column: 3 / span 6;
  margin-top: 120px;
}

.ralph1 {
  grid-row: 1;
  grid-column: 10;
}

.ralph2 {
  grid-row: 3;
  grid-column: 10;
}

.ralph3 {
  grid-row: 7;
  grid-column: 10;
  margin-top: 100px;

}

/* PAGINA 3 */

.sale {
  grid-row: 1;
  grid-column: 1 / span 10;
}

.h6 {
  grid-row: 3;
  grid-column: 1 / span 4;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: red;
  line-height: 40px;
  font-weight: bold;
  height: 40px;
  margin: 0 auto;
}

.text6 {
  grid-row: 3;
  grid-column: 1 / span 4;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  line-height: 40px;
  font-weight: bold;
  height: 80px;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
  margin-top: 40px;
}

.h7 {
  grid-row: 3;
  grid-column: 6 / span 9;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: red;
  line-height: 40px;
  font-weight: bold;
  height: 40px;
  margin: 0 auto;
}

.text7 {
  grid-row: 3;
  grid-column: 6 / span 9;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  line-height: 40px;
  font-weight: bold;
  height: 80px;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
  margin-top: 40px;
}

.sale2 {
  grid-row: 7;
  grid-column: 1 / span 10;
  margin-bottom: 50px;
  margin-top: 100px;
}

#stemWijzer {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 200px;
  line-height: 100px;
}

footer {
  position: relative;
  width: 100%;
  background-color: red;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  height: 80px;
  margin: 0 auto;
}
